body {
    border-style: none;
    border-color: black;
    height: fit-content;
    width: fit-content;
    margin: 2px;
    padding: 2px;
    color: #ffffff;
}

header {
    border-style: none;
    border-color: palevioletred;
    height: 50px;
    width: 1800px;
    margin: 2px;
    padding: 2px;
    background-color: #bc4b51;
}

main {
    border-style: none;
    border-color: red;
    overflow: auto;
    margin: 3px;
}

nav {
    border-style: none;
    border-color: blue;
    height: 1000px;
    width: 200px;
    float: left;
    margin: 2px;
    padding: 2px;
    background-color: #5b8e7d;
}

article {
    border-style: none;
    border-color: darkgreen;
    height: 1000px;
    width: 1370px;
    float: left;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #8cb369;
}

aside {
    border-style: none;
    border-color: yellow;
    height: 1000px;
    width: 200px;
    float: left;
    margin: 2px;
    padding: 2px;
    background-color: #f4e285;
    color: #000000;
}

footer {
    border-style: none;
    border-color: purple;
    height: 100px;
    width: 1800px;
    margin: 2px;
    padding: 2px;
    background-color: #f4a259;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    font-weight: bold;
}

a:active {
    font-weight: bold;
    font-size: 10pt;
}

.title {
    text-align: center;
    position: relative; bottom: 15px; right: 0px;
}

.resumelink {
    text-decoration: underline;
}